*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: rgb(6, 6, 7);
}


/* start header */
.navbar{
    background-color: transparent;
}
.nav-item{
    padding: 0.3125rem 1.875rem;
    font-size: 1.25rem;
}
.nav-item a{
    color: white !important;
    border-bottom: 0.25rem solid transparent;
    text-shadow: 0 0 0.3125rem snow;
    transition: all .5s;
    font-weight: 700;
}
.nav-item a:hover{
    border-bottom: 0.25rem solid rgb(9, 21, 184);
}

.home{
    background:linear-gradient(135deg ,  rgb(9, 21, 184) 10%, black 10%);
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.625rem rgb(3, 73, 139);
    padding: 3.125rem 0 3.125rem 3.125rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home h1{
    color:black;
    text-shadow: 0 0 0.4375rem rgb(3, 73, 139);
    font-weight: 900;
    font-size: 3.125rem;
    text-align: center;
}
.home h4{
    color: rgb(216, 204, 204);
    text-align: center;
    font-weight: 700;
}

.header-img-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.search-form {
    width: 70%;
}
.search-form input{
    border-radius: 0.3125rem;
    background-color:black;
    box-shadow: 0 0 0.3125rem rgb(3, 73, 139);
    border: 0.0625rem solid rgb(3, 73, 139);
    transition: all 1s;
}
.search-form input:focus,.search-form input:hover{
    border: 0.0625rem solid snow;
    box-shadow: 0 0 0.3125rem snow;
    background-color: rgb(5, 3, 3);
    color:rgb(3, 73, 139);
}

/* start items  */

.main-title{
    color: white;
    font-weight: 700;
    text-shadow: 0 0 0.3125rem rgb(3, 73, 139);
    position: relative;
}
.main-title::after{
    content: '';
    width:12.5rem;
    height: 0.3125rem;
    background-color: rgb(9, 21, 184);
    position: absolute;
    bottom:-0.9375rem;
    left: 50%;
    transform: translateX(-50%);
}

.item{
    color: white;
    border-radius: 0.625rem;
    border: 0.0625rem solid rgb(3, 73, 139);
    cursor: pointer;
}
.item-img{
    height: 50%;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.category{
    transition: all .6s;
}
.item-img:hover .category{
   transform: scale(1.1);
}

.item-capture{
    background-color: rgb(2, 17, 31);
    padding:1.25rem;
    border-radius: 0.625rem;
    height: 50%;
}
.shop-btn{
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.625rem;
    background-color:white;
    color:rgb(3, 73, 139);
    font-weight: 700;
    transition: all .5s;
}
.shop-btn:hover{
    background-color:rgb(3, 73, 139);
    color:white;
}
del{
    font-size: 0.75rem;
    color: rgba(255, 255, 255, .5);
}
.item-capture h5{
    color: rgb(3, 73, 139);
    font-weight: 800;
}
.fa-heart{
    color: rgb(3, 73, 139);
    font-size: 1.25rem;
    transition: all .5s;
    cursor: pointer;
}
.fa-heart:hover{
    transform: scale(1.2);
    color: red;
}

.view-btn{
    padding: 0.9375rem 2.1875rem;
    border: none;
    border-radius: 0.625rem;
    background-color: rgb(3, 73, 139);
    color:white;
    font-weight: 700;
    transition: all .5s;
}

.view-btn:hover{
    background-color:white;
    color: rgb(3, 73, 139);
}

.background-full{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider{
    width:31.25rem;
    height: 18.75rem;
    border-radius:1.25rem ;
    background-color: black;
    box-shadow: 0 0 0.625rem rgb(3, 73, 139);
    border: 0.0625rem solid rgb(3, 73, 139);
    position: relative;
    background-image: url(../images/1.jpg);
    background-size: 100% 100%;
}
    #close{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    color: rgb(3, 73, 139);
    background-color: black;
    padding: 0.125rem 0.625rem;
    border-radius: 2.5rem;
    transition: all 1s;
    cursor: pointer;

    }
    #close:hover{
    background-color:rgb(3, 73, 139);
    color: black;
    }

#next{
    position: absolute;
    top: 50%;
    right: 1.25rem;
    color: rgb(3, 73, 139);
    background-color:black;
    padding: 0.125rem 0.625rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 1s;
}
#next:hover{
    background-color:rgb(3, 73, 139);
    color: black;

    }
    
#prev{
    position: absolute;
    top: 50%;
    left: 1.25rem;
    color: rgb(3, 73, 139);
    background-color: black;
    padding: 0.125rem 0.625rem;
    border-radius: 2.5rem;
    transition: all 1s;
    cursor: pointer;

}
#prev:hover{
    background-color:rgb(3, 73, 139);
    color: black;
    }
   .stars{
    transition: all .5s;
   } 
   .stars:hover{
    color:rgb(3, 73, 139);
   }
   .price{
    background-color: brown;
    border: 0.0625rem solid black;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
   }
 .img img{
    transition: all .2s;
 }
 .img{
    overflow: hidden;
 }
 .img:hover img{
    transform: scale(1.04,1.04);
 }

 @media screen and (max-width:768px) {
    body,html{
        font-size: 14px;
    }
 }